
<html>
<head>
   
    <title>Forget your password </title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script>
    </script>
</head>
<body>
    <div class="container text-center">
 <div class="hide-md-lg">
 <a href="/">Home</a>.</p>
        
        </div>
        <form th:action="@{/process_getQuestion}" onsubmit="show()" th:method="post"style="max-width: 600px; margin: 0 auto;">
        <input type="text"  name="username"   placeholder="Username" id="username" >

        <input type="submit" value="Get Question">
</form>
</div >


    </div>
  </form>
</div>

<div class="bottom-container">
  <div class="row">
    <div class="col">
      <a href="/register" style="color:rgb(80, 86, 255)" class="btn">Sign up</a>
    </div>
 
  </div>
    </div>
</body>
</html>