
<html>
<head>
   
    <title>Forget your password </title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container text-center">

<p>Your password is : </p>
 <input type="text" th:field="*{user.password}" name="sanswer"   placeholder="Answer" id="sanswer"  disabled>
</div>
<div class="bottom-container">
  <div class="row">
    <div class="col">
     <h3><a  href="/login">Login</a></h3>
    </div>
 
  </div>
    </div>
</body>
</html>